.widget-tabrouter {
    height: 100%;
    overflow: hidden;

    .ant-tabs {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-tabs-nav {
            padding-top: 8px;
        }

        .ant-tabs-content-holder {
            flex: 1;
            overflow: hidden;

            .ant-tabs-content {
                height: 100%;
                overflow: hidden auto;
            }
        }
    }

    .ant-tabs-ink-bar {
        &.ant-tabs-ink-bar-animated {
            visibility: visible;
        }
    }
}
